<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <title>Success</title>
</head>
<body>
    {% if messages %}
            <div id='errors'>
                {% for message in messages %}
                    <p>- {{message}} -</p>
                {% endfor %}
            </div>
        {% endif %}
    <h1>Success! Welcome, {{ my_user.first_name }} !</h1>
    <a href="/logout">Log Out</a><hr>
    <a href="/home">Go to Homepage</a>
</body>
</html>