<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/summary.css' %}">
    <title>Document</title>
</head>

<body>
    {% if messages %}
    <div id='errors'>
        {% for message in messages %}
        <p>- {{message}} -</p>
        {% endfor %}
    </div>
    {% endif %}
    <div id="header"><a href="/home">Dashboard </a> | <a href="/logout">Log Out</a></div>
    <hr>

    <div id="main">
        <h2>Posts by {{this_user.first_name}} </h2><br>
        <p>Count: {{ count }} </p><br>
        {% for quote in all_quotes %}
        {% if quote.posted_by.id == this_user.id %}
        <p>{{quote.message}}</p>
        {% endif %}
        {% endfor %}
    </div>


</body>

</html>